* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    padding: 15px 25px;
    display: flex;
    font-weight: 500;
    align-items: center;
    position: fixed;
    width: 100%;
}

@keyframes logomotion {
    0% {
        top: 0px;
    }
    50% {
        top: -18px;
    }
    100% {
        top: 0px;
    }
}

.logo {
    font-weight: bold;
    font-size: 25px;
    color: white;
    text-decoration: none;
    letter-spacing: 5px;
}

.logo span {
    position: relative;
    color: rgba(0, 0, 0, 0);
    background-clip: text;
    background-image: linear-gradient(
        108deg,
        rgb(8, 148, 255),
        rgb(201, 89, 221) 34%,
        rgb(255, 46, 84) 68%,
        rgb(255, 144, 4) 100%
    );
}

#logo-first-char {
    animation: logomotion 2s ease-in-out 1s 1 alternate;
}
#logo-second-char {
    animation: logomotion 2s ease-in-out 3s 1 alternate;
}

#logo-third-char {
    animation: logomotion 2s ease-in-out 5s 1 alternate;
}
#logo-fourth-char {
    animation: logomotion 2s ease-in-out 7s 1 alternate;
}
#logo-fiveth-char {
    animation: logomotion 2s ease-in-out 9s 1 alternate;
}
#logo-sixth-char {
    animation: logomotion 2s ease-in-out 11s 1 alternate;
}

.nav-links {
    flex-grow: 1;
    display: flex;
    justify-content: end;
}

.nav-link {
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    margin: 0px 15px;
    position: relative;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 5px;
    background: blue;
    transition: 0.3s linear;
}
.nav-link:hover::after {
    width: 100%;
}

main section {
    padding-top: 60px;
    min-height: 100vh;
    background-image: linear-gradient(
        108deg,
        rgba(52, 134, 240, 0.89),
        rgba(52, 134, 240, 0.25) 34%,
        rgba(52, 134, 240, 0.3) 68%,
        rgba(52, 134, 240, 0.35) 100%
    );
}

.home-container {
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.image-container {
    flex-basis: 30%;
    border-radius: 10px;
    border: 5px solid rgb(95, 95, 216);
    overflow: hidden;
}
.image-container img {
    width: 100%;
}

.image-container img:hover {
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
}

.about-me-container {
    flex: 1;
    padding: 2rem;
    border-radius: 10px;
    border: 5px solid rgb(95, 95, 216);
}

.about-me-container:hover {
}

.about-me-container h2 {
    color: red;
    text-align: center;
    font-size: 1.875rem;
    line-height: 2.2rem;
    font-weight: 900;
}

.about-me-container p {
    font-size: 1.1rem;
    line-height: 1.2rem;
    font-weight: 400;
    color: #333;
    padding-top: 1rem;
}

#work {
    display: flex;
    flex-direction: column;
}

#work h2 {
    text-align: center;
    font-size: 1.875rem;
    line-height: 2.2rem;
    font-weight: 900;
    color: red;
}

.experience-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 60px;
    padding-right: 60px;
}

.experience-role {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.experience-company-post h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(95, 95, 216);
}

.experience-company-post h4 {
    padding-top: 5px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #333;
}

.experience-duration {
    display: flex;
    border: 2px solid;
    border-radius: 12px;
    align-items: center;
    padding: 6px;
}

.work-svg {
    width: 1rem;
    height: 1rem;
    margin-right: 4px;
}

.experience-item {
    border: 5px solid rgb(95, 95, 216);
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
}

li {
    list-style: none;
    margin-top: 10px;
    display: flex;
}

li span {
    font-weight: 400;
}

li span svg {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    color: blue;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}
